<div class="row">
    <div class="item-container" ng-repeat="item in menu.items">
        <div class="col-md-4">
            <img class="item_image" ng-src="images/{{item.img}}" alt="{{item.name}}">
            <h4>{{ item.name }}</h4>
            <p>Rating: {{ item.rating }}
                <span ng-if="item.rating > 4.0" ng-class="{highlight: item.rating > 4.5}"> - People love this item!</span>
                <button ng-click="menu.increment(item)">+</button>
                <button ng-click="menu.decrement(item)">-</button>
            </p>

            <!--<p>Image: {{ item.img }}</p>-->

            <!--<p>
                <textarea ng-model="menu.newReview" name="menu.review" rows="3" cols="40"></textarea>
            </p>
            <p>
                {{menu.newReview}}
                <span ng-if="!menu.newReview">Why not write a review!</span>
            </p>-->
        </div>
    </div>
</div>
